
<div class = "banner">
<form>
  <h1 id="registrationHeader"> Create an account </h1>
  <div class="container text-center" id="registrationContainer">
  <form  class="row g-3"  [formGroup]="signupForm"  (ngSubmit)="signUp()"  >   
    <div> 
      <label for="validationDefault01" class="form-label" >First name</label>
      <input type="text" class="form-control"   formControlName="firstname" > 
    </div>
<br>

    <div>
      <label for="validationDefault02" class="form-label">Last name</label>
      <input type="text" class="form-control"  formControlName="lastname" >
    </div>
   
    <div>
      <label for="validationDefaultUsername" class="form-label">E-mail</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">@</span>
        <input type="text" class="form-control"   aria-describedby="inputGroupPrepend2"  formControlName="email">
      </div>
  
    </div>
    <div>
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control"  formControlName="password"  > 
    </div>


    <!--
    <div class="col-md-3">
      <label for="passwordconfirm" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" formControlName="confirmpassword"  >
    </div>
-->


    <div>
      <label for="validationDefault04" class="form-label">Gender</label>
      <select class="form-select" formControlName="gender"  >  
        <option selected disabled value="">Choose...</option>
        <option selected>Select gender</option>
        <option >Male</option>
        <option >Female</option>
        <option >Do not prefer to answer</option>
      </select>
    </div>

    <div class="col-12">
      <button class="btn btn-primary" [disabled]="!signupForm.valid" id="submitBtn">Register</button>  
    </div>
  </form>

</div>




  <!--   Above is using Bootstrap form //  Old version below --



  <h2 id="registrationHeader"> Create an account </h2>

<div>
<form>

  <div>
    <label for="firstName">First name</label>
    <input type="text" >
  </div>

  <br>
  <div>
    <label for="lastName">Last name</label>
    <input type="text" >
  
  </div>
  <br>

  <div>
    <label for="lastName">Email</label>
    <input type="email">
  
  </div>
  <br>

  <div>
    <label for="password">Password</label>
    <input type="password">
  
  </div>
  <br>

  <div>
    <label for="gender">Gender</label>
    <select>
      <option selected>Select gender</option>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>

  
 
   <br> <button id="submitBtn">submit</button>
-->