<h1>welcome to Register Page</h1>

<div class="container text-center" id="registrationContainer">

  <h2 id="registrationHeader"> Create an account </h2>

  <form class="row g-3" >
    <div class="col-md-3">
      <label for="validationDefault01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationDefault01" formControlName ="firstName"  required>
    </div>
   
    <div class="col-md-3">
      <label for="validationDefault02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationDefault02"  formControlName ="lastName" required>
    </div>
   
    <div class="col-md-6">
      <label for="validationDefaultUsername" class="form-label">E-mail</label>
      <div class="input-group">
        <span class="input-group-text" id="inputGroupPrepend2">@</span>
        <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2"  formControlName ="email" required>
      </div>
  
    </div>
    <div class="col-md-6">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" formControlName ="password" required>
    </div>
    <div class="col-md-6">
      <label for="passwordconfirm" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="passwordconfirm" formControlName ="passwordconfirm" required>
    </div>
    <div class="col-md-2">
      <label for="validationDefault04" class="form-label">Gender</label>
      <select class="form-select" id="validationDefault04" required>
        <option selected disabled value="">Choose...</option>
        <option selected>Select gender</option>
        <option>Male</option>
        <option>Female</option>
        <option>Do not prefer to answer</option>
      </select>
    </div>
    <div class="col-2">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>

  <!--   Above is using Bootstrap form //  Old version below 



  <h2 id="registrationHeader"> Create an account </h2>

<div>
<form>

  <div>
    <label for="firstName">First name</label>
    <input type="text" >
  </div>

  <br>
  <div>
    <label for="lastName">Last name</label>
    <input type="text" >
  
  </div>
  <br>

  <div>
    <label for="lastName">Email</label>
    <input type="email">
  
  </div>
  <br>

  <div>
    <label for="password">Password</label>
    <input type="password">
  
  </div>
  <br>

  <div>
    <label for="gender">Gender</label>
    <select>
      <option selected>Select gender</option>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>

  
 
   <br> <button id="submitBtn">submit</button>
 
-->








<!-- -->

