.banner {
    background-image: url('../../../assets/img/typing.jpg');
    height : 600px;
    background-position: center bottom;
    background-size: cover;
}
 
 
 #registrationContainer {
     margin-top: 50px;
     padding: 40px;
     background-color: rgba(255, 255, 255, 0.699);
     margin-bottom: 50px;
     border-radius: 5px;
     border: 2px solid ;
     align-content: center;
     
 }
 

 #registrationHeader {
    padding: 40px;
 }

 #submitBtn {
    background-color: #1db954;
    outline: none;
    
}

 h1{
     font-family: Oleo;
     text-align: center;
 }

 @font-face {
    font-family : Oleo;
    src : url(../../../assets/font/PermanentMarker-Regular.ttf) format('truetype');
}

.Oleo {
    font-family: Oleo;
}

.form-label {
align-content: center;

}