.banner {
    background-image: url('../../../assets/img/typing.jpg');
    height : 1000px;
    background-position: center bottom;
    background-size: cover;
}
 
 
 #registrationContainer {
     margin-top: 50px;
     padding: 40px;
     background-color: rgba(255, 255, 255, 0.699);
     margin-bottom: 50px;
     border-radius: 5px;
     border: 0.5px ;
     align-content: center;
     width : 600px;
    
 }
 

 #registrationHeader {
    padding: 40px;
    color : rgba(58, 236, 213, 0.808)
 }

 button {
    background-color: #1db954;
    outline: none;
    margin-top: 40px;

}

 h1{
     font-family: Oleo;
     text-align: center;
     text-shadow: 4px 4px 1px #000000;
 }

 @font-face {
    font-family : Oleo;
    src : url(../../../assets/font/PermanentMarker-Regular.ttf) format('truetype');
}

.Oleo {
    font-family: Oleo;
}

.form-label {
align-content: center;
margin-top : 13px;
}
