<h1>welcome to Register Page</h1>

<div class="container text-center" id="registrationContainer">

  <h2 id="registrationHeader"> Create an account </h2>

<div>
<form>

  <div>
    <label for="firstName">First name</label>
    <input type="text" >
  </div>

  <br>
  <div>
    <label for="lastName">Last name</label>
    <input type="text" >
  
  </div>
  <br>

  <div>
    <label for="lastName">Email</label>
    <input type="email">
  
  </div>
  <br>

  <div>
    <label for="password">Password</label>
    <input type="password">
  
  </div>
  <br>

  <div>
    <label for="gender">Gender</label>
    <select>
      <option selected>Select gender</option>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
    </select>
  </div>

  
 
   <br> <button id="submitBtn">submit</button>
 
</form>




    
   

  

  

    