<h1>Settings</h1>
<div class="container text-center" id="settings-container">
  <form>
    <h2> Change Password </h2>
    <div class="container text-center">
    <form  class="row g-3" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(email.value,password.value,newPassword.value)">
      <div>
        <label for="validationDefaultUsername" class="form-label">E-mail</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
  
          <input type="text" class="form-control"   aria-describedby="inputGroupPrepend2" formControlName="email" #email >
        </div>
    
      </div>
      <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" #password >
  
      </div>
      <div>
        <label for="newPassword" class="form-label">New Password</label>
        <input type="password" class="form-control" formControlName="newPassword" #newPassword >
  
      </div>

      <div class="col-12">
  
        <button class="btn btn-primary" [disabled]="!changePasswordForm.valid" >Submit</button>
  
      </div>
    </form>
    <br>
    <form>
      <h2> Change Avatar </h2>
      <div class="container text-center">
      <form  class="row g-3" [formGroup]="changeAvatarForm" (ngSubmit)="changeAvatar(newAvatarLink.value)">
        <div>
          <label for="newAvatarLink" class="form-label">New Avatar Url</label>
          <input type="text" class="form-control" formControlName="newAvatarLink" #newAvatarLink >
    
        </div>

        <div class="col-12">
    
          <button class="btn btn-primary" [disabled]="!changeAvatarForm.valid" >Submit</button>
    
        </div>
      </form>
</div>


<router-outlet></router-outlet>
