<div class="container-fluid footer" id = "footerbox">

    <div class="row">
        <!--Name-->
        <div class ="col-lg-6">
        <h1 style = "color: rgba(0, 0, 0, 0.377);">TopTyper</h1>
        <p style = "color: rgba(0, 0, 0, 0.377);"> Type hard, Be a speed champion! </p>
         </div>
         <!--Nav -->
         <div class ="col-lg-4">
             
             <a routerLink = "home" style = "color: rgba(0, 0, 0, 0.377);">Home</a>
             <a routerLink = "login" style = "color:  rgba(0, 0, 0, 0.377);">Login</a>
             <a routerLink = "createAccount" style = "color: rgba(0, 0, 0, 0.377);">create Account</a>
         </div>
         <!-- Social --> 
         <div class ="col-lg-2">
             <a href="https://youtu.be/MKT6Uhk5-Iw" target ="_blank" ><i class="bi bi-youtube" style = "color: red;"></i></a>
             <a href="#" target ="_blank" ><i class="bi bi-instagram" style="color:rgb(199, 59, 187)"></i></a>
             <a href="#" target ="_blank" ><i class="bi bi-facebook" style="color:rgb(21, 25, 255)"></i></a>
             <a href="#" target ="_blank" ><i class="bi bi-twitter" style ="color:rgb(57, 215, 255)"></i></a>
         </div>
    </div>
</div>