<div class="container-fluid footer">

    <div class="row">
        <!--Name-->
        <div class ="col-lg-6">
        <h1>TopTyper</h1>
        <p> Type hard, Be a speed champion! </p>
         </div>
         <!--Nav -->
         <div class ="col-lg-4">
             <a routerLink = "">Home</a>
             <a routerLink = "home">Home</a>
             <a routerLink = "login">Login</a>
             <a routerLink = "createAccount">create Account</a>
             <a routerLink = "practice">practice</a>
         </div>
         <!-- Social --> 
         <div class ="col-lg-2">
             <a href="https://youtu.be/MKT6Uhk5-Iw" target ="_blank"><i class="bi bi-youtube"></i></a>
         </div>
    </div>
</div>