
<!-- BELOW CODE: creates an input form for putting words into the database
no longer necessary due to random sentence generator, 
but please keep this code just in case we need it later -->
<!-- <form>
  <div class="form-group">
    <label for="newWord">Input Words</label>
    <input type="text" class="form-control" id="newWord" aria-describedby="newWordsHelp" placeholder="Input new words here.">
    <small id="newWordsHelp" class="form-text text-muted">Add new words to the database.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form>
  <div class="form-group">
    <label for="deleteWord">Delete Words</label>
    <input type="text" class="form-control" id="newWord" aria-describedby="newWordsHelp" placeholder="Input words to search for and delete.">
    <small id="newWordsHelp" class="form-text text-muted">Delete words from the database.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->


<form>
  <button class="btn btn-primary" (click) ="showAllUser()" onclick="style.display = 'none'">Get User List</button>
  <div>
    <table id="usertable" border = "2">
      <tr>
        <td><b>Avatar</b></td>
        <td><b>Account Number</b></td>
        <td><b>First Name</b></td>
        <td><b>Last Name</b></td>
        <td><b>Email</b></td>
        <td><b>Password</b></td>
        <td><b>Gender</b></td>
        <td><b>Account Type</b></td>
      </tr>
      <tr *ngFor = "let u of allUser">
        <td> <img src = {{u.avatarLink}} alt = "Avatar" class="profilePic"> <br>
          <button class="btn btn-primary" (click) ="deleteUser(u.accountId)">Delete User</button></td>
        <td> {{u.accountId}} </td>
        <td> {{u.firstName}} </td>
        <td> {{u.lastName}} </td>
        <td> {{u.email}} </td>
        <td> {{u.accountPassword}} </td>
        <td> {{u.gender}} </td>
        <td> {{u.isAdmin == 1 ? "Administrator" : "User"}} </td>
      </tr>
    </table>
  </div>
</form>

