

<form>
  <div class="form-group">
    <label for="newWord">Input Words</label>
    <input type="text" class="form-control" id="newWord" aria-describedby="newWordsHelp" placeholder="Input new words here.">
    <small id="newWordsHelp" class="form-text text-muted">Add new words to the database.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<form>
  <div class="form-group">
    <label for="deleteWord">Delete Words</label>
    <input type="text" class="form-control" id="newWord" aria-describedby="newWordsHelp" placeholder="Input words to search for and delete.">
    <small id="newWordsHelp" class="form-text text-muted">Delete words from the database.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
