.how-to-get-started {
    text-align: center;
    margin-top: 20px;
    font-style: normal; 
    font-weight: bold;
}


.banner  {
    background-image: url('../../../assets/img/main2.jpg');
    height : 600px;
    background-position: center bottom;
    background-size: cover;
    position: relative;
}

.banner2  {
    background-image: url('../../../assets/img/main.jpg');
    height : 600px;
    background-position : top center;
    background-size: cover;
    position: relative;
}

.banner3  {
    background-image: url('../../../assets/img/main3.jpg');
    height : 600px;
    background-position : bottom;
    background-size: cover;
    position: relative;
}


.banner h1 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    position :relative

}

.banner a {
    font-size: 30px; 
}

.content{
    top : 30%;
    left: 30%;
    position: absolute;
}

.content a {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.733);
    color : var (--primary-color);
    padding : 20px, 20px;
    margin-top : 20px;
}

.content a:hover {
    background-color: rgba(0, 128, 128, 0.603);
    color : white;
}

.step-box {
    background-color: rgba(91, 177, 192, 0.541);
    padding : 20px 60px ;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius:  20px;

}


.step-box {
    color: rgba(0, 0, 0, 0.486);
}

.step {
    font-family: Ubuntu;
}

@font-face {
    font-family : Oleo;
    src : url(../../../assets/font/PermanentMarker-Regular.ttf) format('truetype');
}

.Oleo {
    font-family: Oleo;
}

#mainline {
    margin-bottom: 50px ;
}

#mainline2 {
    text-align: left;
    position: relative;
    margin: -100px 0px 7px -130px;
    border-radius: 10px;

}

#mainline3 {
    text-align: left;
    position: relative;
    margin-left: 200px;
    margin-top: 200px ;
    border-radius: 10px;
    text-shadow: rgba(255, 255, 255, 0.849);
   
}

#playnow {
    font-family: Oleo ;
    color: brown;
}

a{
    border-radius: 5px;
}

#intro-picture {
    margin-left: -60px;
    width: 600px;
}

#introduction {
    margin-top: 40px; 
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color : rgba(128, 128, 128, 0.74)
   }


   #whatistoptyper{
    font-size: 25px;
    font-style: bold;
    color :rgba(128, 128, 128, 0.986);
    text-align: center;
    margin-bottom: 15px;
    }
    
    #description {
        text-align: center;
    }

    h2{
        color : white;
        text-align: center;
    }


p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#one {
    color: rgba(0, 0, 0, 0.486);
}

#two {
    color: rgba(0, 0, 0, 0.486);
}

#three {
    color: rgba(0, 0, 0, 0.486);
}