<ngb-carousel
[showNavigationArrows]="true" 
[showNavigationIndicators]="true"
[keyboard]="true"

[activeId]="'secondSlide'"
>
   <ng-template ngbSlide id="firstSlide">

<!-- -->



<div class = "banner">
    <div class ="content">
    <h1 id="mainline" style = "font-family: Oleo; color: rgba(230, 210, 32, 0.795);" > Be a typing ninja here, <br> today</h1>
   <a routerLink = "Login" id="playnow"> Play Now <i class ="bi bi-arrow-right"></i></a>
</div>
</div>


<!-- -->


</ng-template>
<ng-template ngbSlide id="secondSlide">

  
  <div class = "banner2">
    <div class ="content">
    <h1 id ="mainline2" style = "font-family: Oleo; color: rgba(14, 82, 160, 0.699);" > I got confidence <br> with TopTyper! <br> - Ellen - </h1>
</div>
</div>
</ng-template>



<ng-template ngbSlide id="thirdSlide">

  
  <div class = "banner3">
    <div class ="content">
    <h1 id ="mainline3" style = "font-family: Oleo; color: rgba(236, 221, 240, 0.596);" > With TopTyper, <br> Cindy dreams to become a developer <br> - Paul - </h1>
</div>
</div>
</ng-template>







            </ngb-carousel>
            

            <!-- -->


<div class ="step">
    <h2 class ="how-to-get-started"> how to get started </h2>
    <div class ="row">
     
    <div class = "col-lg-4">
        <div class = "step-box">
        <h1>1</h1>
        <p>Create your account</p>
        </div>
    </div>
   
    <div class = "col-lg-4">
        <div class = "step-box">
        <h1>2</h1>
        <p>Practice your own</p>
        </div>
    </div>
   
    <div class = "col-lg-4">
        <div class = "step-box">
        <h1>3</h1>
        <p>Play with others! Ninja Mode!</p>
        </div>
    </div>
</div>
</div>



<div  class="container-sm">
  <div style="float: left">
  <img src="../../../assets/img/typescreen.jpg" id = "intro-picture">
  </div>
</div>

  <div  class="container-sm" id = "introduction" stlye = "float : right">
    WHAT IS TopTyper ?
    TopTyper is the most fun way to practice type and learn how to type.
    TopTyper is free for everyone. We support schools and adults who need to improve their typing.  
  </div>

