
.login {
    float: right; margin-right: 200px; 
}
.createAccount {
    float: right; margin-right : 200px;
}

.home {
    float: right; margin-right : 200px; margin-left : 100px;
}

.practice {
    float : right ; margin-right : 200px; 
}



#topMenu {
    height: 50px; 
    width: 5000px; 
}

#topMenu ul li {                       
    list-style: none ;       
    color: rgb(163, 0, 0);             
    background-color: #8f90ff;  
    float: left;               
    line-height: 50px;          
    vertical-align: middle;     
    text-align: center;      
    
}

#topMenu :hover {            
    color: rgb(241, 219, 19);                   
    background-color: #198b02;   
}