
<h1>Welcome to Login Page</h1>

<div id="login-container">


  <div>
    <label for="firstName">E-mail</label>
    <input type="email" placeholder="Enter your e-mail"  >
    <label for="firstName">Password</label>
    <input type="password" placeholder="Enter your password">

    <button (click)="greetUser()" class ='login-button'> Login </button>
    
    <ul>
    <li> <a href = '#'> find my password using email</a> </li>
    <li><a routerLink="createAccount" > Make new Account </a> </li>
    </ul>
</div>




<router-outlet></router-outlet>
