<div class="banner">
<br><br>
<h1>Forgot your password ?</h1>
<br>

  <div class="container text-center" id="findaccount-container">
  
    <h2 id="phrase">Don't worry we can get your password </h2>
  

<form class="form-floating">
  <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="name@example.com"  #email >
  <label for="floatingInputValue">Enter your e-mail </label>
</form>

<div id="btn">
  <button class="btn btn-warning" (click)="findAccount(email.value)">Find Password</button>
</div>

  <div id="output" *ngFor = "let u of _accountInfo">
   <h3> Hi there! <br> {{u.firstName}} {{u.lastName}}, your password has been sent through your e-mail : <br> "{{u.email}}" </h3>
  </div>
  
     


</div>


</div>

<!--

    [
  {
    "accountId": 1,
    "firstName": "Shane",
    "lastName": "LeGrand",
    "email": "shane@gmail.com",
    "accountPassword": "password",
    "gender": "Male",
    "isAdmin": null,
    "avatarLink": "",
    "userElo": 1000,
    "wpm": 1,
    "keyboardLayout": "QWERTY"
  }
]



-->