<div class="banner">

<p>find-account works!</p>

<input type ="text" #email>
<button (click)="findAccount(email.value)">Click Me</button>



  <div *ngFor = "let u of _accountInfo">
 Hello {{u.firstName}}    
  {{u.firstName}}    
 
  {{u.email}}  
  {{u.accountPassword}}  

  </div>

  
</div>

<!--

    [
  {
    "accountId": 1,
    "firstName": "Shane",
    "lastName": "LeGrand",
    "email": "shane@gmail.com",
    "accountPassword": "password",
    "gender": "Male",
    "isAdmin": null,
    "avatarLink": "",
    "userElo": 1000,
    "wpm": 1,
    "keyboardLayout": "QWERTY"
  }
]



-->