.banner {
    background-image: url('../../../assets/img/lock.jpg');
    height : 600px;
    background-position: center bottom;
    background-size: cover;
    
}

h1{
    text-align: center;
    font-family : Oleo ;
    color : rgba(243, 147, 83, 0.795)
}
