<div class="banner">
<br><br>
  


<div class="container text-center" id="findaccount-container">
  <h1>Forgot your password ?</h1>
<form > 
<input type ="text" placeholder = "Enter your E-mail" #email>



<div class="col-md-15">
  <label for="validationDefault01" class="form-label" >E-mail</label>
  <input type="text" required name ="email" placeholder ="Enter E-mail"  #email class="form-control" ngModel>
  <button (click)="findAccount(email.value)"> submit </button>
</div>


<div *ngFor = "let u of _accountInfo">
 Hello {{u.firstName}}    
  {{u.firstName}}    
 
  {{u.email}}  
  {{u.accountPassword}}  

  </div>

  </form>

</div>
  
</div>

<!--

    [
  {
    "accountId": 1,
    "firstName": "Shane",
    "lastName": "LeGrand",
    "email": "shane@gmail.com",
    "accountPassword": "password",
    "gender": "Male",
    "isAdmin": null,
    "avatarLink": "",
    "userElo": 1000,
    "wpm": 1,
    "keyboardLayout": "QWERTY"
  }
]



-->