<h1>Leaderboard</h1>
<h2>A ranking of the best typers on the net!</h2>

<div class="container text-center" id="leaderboardContainer">
  <table>
    <tr>
      <th>Rank</th>
      <th class="Name">Name</th>
      <th>ELO Score</th>
      <th>Current Typing Speed (words per minute)</th>
    </tr>
    <tr>
      <td>1</td>
      <td class="Name">{{leaderboardList[0].userName}}</td>
      <td>{{leaderboardList[0].ELOrank}}</td>
      <td>{{leaderboardList[0].WPM}} WPM</td>
    </tr>
    <tr>
      <td>2</td>
      <td class="Name">{{leaderboardList[1].userName}}</td>
      <td>{{leaderboardList[1].ELOrank}}</td>
      <td>{{leaderboardList[1].WPM}} WPM</td>
    </tr>
    <tr>
      <td>3</td>
      <td class="Name">{{leaderboardList[2].userName}}</td>
      <td>{{leaderboardList[2].ELOrank}}</td>
      <td>{{leaderboardList[2].WPM}} WPM</td>
    </tr>
    <tr>
      <td>4</td>
      <td class="Name">{{leaderboardList[3].userName}}</td>
      <td>{{leaderboardList[3].ELOrank}}</td>
      <td>{{leaderboardList[3].WPM}} WPM</td>
    </tr>
    <tr>
      <td>5</td>
      <td class="Name">{{leaderboardList[4].userName}}</td>
      <td>{{leaderboardList[4].ELOrank}}</td>
      <td>{{leaderboardList[4].WPM}} WPM</td>
    </tr>
  </table>


</div>











