
#leaderboardContainer {
  margin-top: 50px;
  padding: 10px;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 2px solid;
}


#leaderboardHeader {
  padding: 40px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.Name {
    text-align: left;
}

tr:nth-child(even) {
  background-color: #C6C6C6;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
