<div class="banner">
  <br>
<h1>Leaderboard</h1>
<h2>A ranking of the best typers on the net!</h2>

<div class="container text-center" id="leaderboardContainer">
  <table>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Score</th>
      <th>Typing Speed (words per minute)</th>
    </tr>
    <tr>
      <td>1</td>
      <td>{{leaderboardList[0].firstName}}</td>
      <td>{{leaderboardList[0].userElo}}</td>
      <td>{{leaderboardList[0].wpm}} WPM</td>
    </tr>
    <tr>
      <td>2</td>
      <td>{{leaderboardList[1].firstName}}</td>
      <td>{{leaderboardList[1].userElo}}</td>
      <td>{{leaderboardList[1].wpm}} WPM</td>
    </tr>
    <tr>
      <td>3</td>
      <td>{{leaderboardList[2].firstName}}</td>
      <td>{{leaderboardList[2].userElo}}</td>
      <td>{{leaderboardList[2].wpm}} WPM</td>
    </tr>
    <tr>
      <td>4</td>
      <td>{{leaderboardList[3].firstName}}</td>
      <td>{{leaderboardList[3].userElo}}</td>
      <td>{{leaderboardList[3].wpm}} WPM</td>
    </tr>
    <tr>
      <td>5</td>
      <td>{{leaderboardList[4].firstName}}</td>
      <td>{{leaderboardList[4].userElo}}</td>
      <td>{{leaderboardList[4].wpm}} WPM</td>
    </tr>
  </table>

</div>

</div>











