
#leaderboardContainer {
  margin-top: 50px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.832);
  margin-bottom: 50px;
  border-radius: 5px;
  width: 800px;
}


#leaderboardHeader {
  padding: 40px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.Name {
    text-align: left;
}

tr:nth-child(even) {
  background-color: #C6C6C6;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
  color : rgba(195, 102, 9);
  font-family: Oleo;
  text-shadow: 4px 4px 1px #000000;
}
h2 {
  text-align: center;
  color : rgba(255, 217, 0, 0.815);
  font-family: Ubuntu;

}


.banner {
  background-image: url('../../../assets/img/rank2.jpg');
  height : 600px;
  background-position: center;
  background-size :cover;
  
}

.word-block {
  margin-top : 40px
}