
<div class="banner">
    <br><br><br><br>
<div class="container text-center" id="practice-container">

<div class="container">
    <div class="row">
        <p class="col-9">
            <span id="output" [innerHTML]="textHTMLContainer">asdfasdfs</span>
        </p>
        <div class="col-3">
            <div id="timer" *ngIf="timerDisplay; else elseBlock">
                Time left: {{time}}
            </div>
            <div id="finished" *ngIf="!timerDisplay">
                <div>Words Per Minute: {{wpm * 2}}</div>
                <div>Mistakes: {{mistypeCounter}}</div>
            </div>
        </div> 
        <ng-template #elseBlock>Time left: 0</ng-template>
    </div>
</div>
</div>
</div>